.page {
  max-width: 100%;
  height: auto;
  color: var(--text-color-primary);
  padding: 5em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.date {
  display: flex;
  justify-content: flex-start;
  margin-left: 5.5rem;
  gap: 3rem;
}
.date h2 {
  color: var(--text-color-primary);
}
.wrapper i {
  color: var(--text-color-primary);
  font-size: 2rem;
  cursor: pointer;
}
.wrapper i:hover {
  opacity: 0.8;
}

@media screen and (max-width: 37.5em) {
  .page {
    flex-wrap: no-wrap;
    padding: 0.5rem;
    margin: 0;
  }
  .date {
    justify-content: center;
    margin: 0;
  }
}
