.games {
  display: flex;
  background-color: var(--card-color);
  padding: 1em;
  color: var(--text-color-primary);
  align-items: center;
  text-align: center;
  border-radius: 1em;
  white-space: nowrap;
  overflow-x: scroll;
  width: 75%;
  cursor: pointer;
}
.content {
  margin-left: auto;
}
.active {
  display: flex;
  background-color: var(--card-color);
  padding: 1em;
  color: var(--text-color-primary);
  align-items: center;
  text-align: center;
  border-radius: 1em;
  white-space: nowrap;
  overflow-x: scroll;
  cursor: pointer;
}
.games span,
.active span {
  margin: 1em;
  font-size: 75%;
  font-family: var(--font-primary);
}
.games img,
.active img {
  width: 1.75rem;
  margin: auto 0.25rem;
}
