.page {
  color: var(--text-color-primary);
}
.page input[type="text"] {
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.5em;
}
.page .container {
  margin: 0 auto;
  max-width: 95%;
  padding: 1em;
  padding-top: 4.5rem;
}
.page .container p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.171);
  float: right;
}
.page .select {
  width: 95%;
  padding: 1em;
  margin: 0 auto;
}
.page .select thead tr td {
  text-align: right;
  padding: 0.5em;
  font-size: 1.3rem;
}
.page .select img {
  max-width: 50%;
  float: left;
}
.page .select tbody td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.171);
  padding: 5em;
  text-align: right;
  cursor: pointer;
}
.page .compare {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.page .player {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page .player img {
  max-width: 100%;
}
.page .player h1 {
  text-align: center;
  margin: 0.5rem;
}

@media screen and (max-width: 37.5em) {
  .page .container p {
    float: none;
    font-size: 0.75rem;
    padding: 0.25em;
  }
  .page .compare {
    display: block;
  }
  .page .player {
    margin: 0 auto;
  }
  .page .player h1 {
    text-align: center;
  }
}
