.quizzes {
  color: var(--text-color-primary);
  height: 100vh;
}
.login-signup {
  display: flex;
  gap: 2rem;
  margin: 4.5rem 3rem;
  position: absolute;
}
.logout {
  cursor: pointer;
}
.user {
  opacity: 0.9;
}
.quiz-options {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.quiz-options .container {
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(100%-50px);
  height: 20rem;
  width: 25rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}
.quiz-options .container img {
  width: 4rem;
}
@media screen and (max-width: 37.5em) {
  .quiz-options {
    padding-top: 10rem;
  }
  .quiz-options .container img {
    width: 4rem;
  }
  .login-signup {
    width: 100%;
    justify-content: flex-end;
    padding: 1rem 5rem;
  }
}
