.quizzes {
  color: var(--text-color-primary);
  height: 100vh;
}
.header {
  width: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  top: 7rem;
  padding: 0.5rem;
  gap: 0.5rem;
}
.header img {
  max-width: 7%;
  border-radius: 50%;
}
.quizzes .container {
  font-size: 1.2rem;
  max-width: 95%;
  margin: 0 auto;
  padding: 2em;
}
