.quizzes {
  color: var(--text-color-primary);
  height: 100vh;
}
.header {
  width: 50%;
  position: fixed;
  display: flex;
  align-items: center;
  top: 7rem;
  padding: 0.5rem;
  gap: 0.5rem;
}
.header img {
  width: 4rem;
  border-radius: 50%;
}
.quiz-options {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.quizzes .container {
  display: flex;
  flex: 1 1 calc(100%-50px);
  height: 20rem;
  width: 25rem;
  margin: 1rem;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 37.5em) {
  .header img {
    width: 2rem;
  }
}
