:root {
  --color-primary: #121212;
  --color-accent: #444444;
  --card-color: #181818;
  --text-color-primary: #ebebeb;
  --text-color-accent: #da0037;
  --discord-color: #7289da;
  --twitter-color: #00acee;
  --font-landing: "Teko", sans-serif;
  --font-primary: "Work Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
}
p,
td {
  line-height: 1.7;
  font-family: var(--font-primary);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--font-primary);
}
.container {
  background-color: var(--card-color);
  border-radius: 1em;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 0.5rem 2rem;
  display: block;
  margin: 3rem auto;
}
input[type="submit"] {
  padding: 1em 2em;
  margin: 1em auto;
  border-radius: 0.5em;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--text-color-primary);
  cursor: pointer;
}
.errorMsg {
  color: rgb(223, 145, 145);
  padding: 0.5rem;
}
a {
  text-decoration: none;
  color: var(--text-color-primary);
  cursor: pointer;
}
