footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: var(--text-color-primary);
  cursor: pointer;
}
footer section {
  display: flex;
  gap: 1rem;
}
footer p {
  white-space: nowrap;
  display: inline-block;
  margin: 0;
}
footer h3 {
  margin: 0;
}
footer section i {
  color: var(--twitter-color);
}
