.News {
  color: var(--text-color-primary);
  padding: 5em;
}
.twitter-tweet {
  margin: 0 auto;
  display: block;
  padding: 2rem;
}
@media screen and (max-width: 37.5em) {
  .News {
    padding: 0;
  }
}
