.login {
  height: 100vh;
  display: flex;
  align-items: center;
  color: var(--text-color-primary);
}
.login input[type="submit"] {
  margin: 1rem auto;
  display: block;
}
.login .container {
  max-width: 95%;
  margin: 0 auto;
}
